


.woopdt_checkbox .sunday_lunch p.form-field._sunday_lunch_field{padding-left:0px !important;}


.product_availability_lunch li{ float:left;}

.product_availability_breakfast li{ float:left;}







.product_availability_dinner li{ float:left;}















#owl-demo .item{ margin: 3px;}







#owl-demo .item li{







        display: block;







        width: 100%;







        height: auto;







    }







.owl-pagination{ display:none;}







 







 .product_availability_dinner .owl-controls .owl-prev{ float: left !important;}







 .product_availability_dinner .owl-controls .owl-next{ float:right !important; }







 







 .product_availability_lunch .owl-controls .owl-prev{ float: left !important;}







 .product_availability_lunch .owl-controls .owl-nav .owl-next{ float:right !important;}







 







 .product_availability_breakfast .owl-controls .owl-prev{ float: left !important;}







 .product_availability_breakfast .owl-controls .owl-next{ float:right !important;}







 







 .product_availability_dinner_tomorrow .owl-controls .owl-prev{ float: left !important; }







 .product_availability_dinner_tomorrow .owl-controls .owl-next{ float:right !important; }







 







 .product_availability_lunch_tomorrow .owl-controls .owl-prev{ float: left !important;}







 .product_availability_lunch_tomorrow .owl-controls .owl-next{ float:right !important; }







 







 .product_availability_breakfast_tomorrow .owl-controls  .owl-prev{ float: left !important; }







 .product_availability_breakfast_tomorrow .owl-controls  .owl-next{ float:right !important;}







 







 .product_availability_dinner_tomorrow .owl-controls { display:block !important;}







 .product_availability_dinner_tomorrow .owl-controls { display:block !important;}







 







 .product_availability_lunch_tomorrow .owl-controls { display:block !important;}







 .product_availability_lunch_tomorrow .owl-controls { display:block !important;}







 







 .product_availability_breakfast_tomorrow .owl-controls { display:block !important;}







 .product_availability_breakfast_tomorrow .owl-controls { display:block !important;}







 







 







.product_availability_breakfast .owl-item{ margin-right:10px;width: 210px !important;}







.product_availability_lunch .owl-item{ margin-right:10px; width: 210px !important;}







.product_availability_dinner .owl-item{ margin-right:10px; width: 210px !important;}















.product_availability_breakfast_tomorrow .owl-item{ margin-right:10px;width: 210px !important;}







.product_availability_lunch_tomorrow .owl-item{ margin-right:10px; width: 210px !important;}







.product_availability_dinner_tomorrow .owl-item{ margin-right:10px; width: 210px !important;}















.site-main ul.products li.product{ width:100%;}























/* The container */







.container2 {







    display: block;







    position: relative;







    padding-left:28px;







    margin-bottom:12px;







    cursor: pointer;







    font-size: 16px;







    -webkit-user-select: none;







    -moz-user-select: none;







    -ms-user-select: none;







    user-select: none;







	float: left;







    margin-right:15px;







}















/* Hide the browser's default checkbox */







.container2 input {







    position: absolute;







    opacity: 0;







    cursor: pointer;







}















/* Create a custom checkbox */







.checkmark {







    position: absolute;







    top: 0;







    left: 0;







    height: 20px;







    width: 20px;







    background-color: #878887bd;







	border-radius:3px;







}















/* On mouse-over, add a grey background color */







.container2:hover input ~ .checkmark {







    background-color: #ffa500;







}















/* When the checkbox is checked, add a blue background */







.container2 input:checked ~ .checkmark {







    background-color: #ffa500;







}















/* Create the checkmark/indicator (hidden when not checked) */







.checkmark:after {







    content: "";







    position: absolute;







    display: none;







}















/* Show the checkmark when checked */







.container2 input:checked ~ .checkmark:after {







    display: block;







}















/* Style the checkmark/indicator */







.container2 .checkmark:after {







    left: 7px;







    top: 2px;







    width: 5px;







    height: 10px;







    border: solid white;







    border-width: 0 3px 3px 0;







    -webkit-transform: rotate(45deg);







    -ms-transform: rotate(45deg);







    transform: rotate(45deg);







}















.find_product_availability{







	 background:#ffa500 !important; 







	 color:#fff !important;







	 border-radius:3px !important; 







	 padding:10px !important;







	}







.find_product_availability:hover{







	 background:#000 !important; 







	 color:#ffa500 !important;







	 border:1px solid #ffa500 !important;







	}







	







.bycwoodt_product_search li{







	list-style: none;







    float: left;







    width: 25%;







    padding: 0px 10px 20px 0px;







	text-align:center;







}







.bycwoodt_product_thumbnail_img img{







    min-height:150px;







    margin-bottom:7px !important;







	}







.bycwoodt_product_titel{







	font-size:14px;







	min-height: 45px;







	}







	







.bycwoodt_product_price{margin:0 0 5px;}























.product_search_section







{







	width:100%;







	background: #cccccc8c;







    height: 67px;







    padding: 10px;







 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);







}







.product_search_availability{







	width:95%;







	border: 1px solid #ffa500 !important;







	}







	







.clander_section{







	width:35%; 







	float:left;







	}







.product_type{width:40%; float:left; padding-top:10px;}















.find_section{width:25%; float:left;}















@media screen and (max-width: 480px) and (min-width: 320px) {







	.clander_section{ width:100% !important;}







	.product_type{width:100% !important; padding-top:20px;}







	.find_section{width:100% !important;text-align: center;}







	.bycwoodt_product_thumbnail_img{width:100% !important;}







	.product_search_availability{ width:100%;}







	.bycwoodt_product_search{ margin:0px;}







	.bycwoodt_product_search li{padding: 0px 0px 40px 0px;}







	.product_search_section{min-height: 170px !important;}







	.bycwoodt_product_thumbnail_img img{ width:100% !important;}







	.bycwoopdt_dishes_avalible{ font-size:22px !important;font-weight: 400 !important;}







	.bycwoodt_product_titel{font-size:18px; min-height:auto !important;}







	}







	







ul.product_availability_breakfast_tomorrow li.product img{ min-height:210px;}







ul.product_availability_dinner_tomorrow li.product img{ min-height:210px;}







ul.product_availability_lunch_tomorrow li.product img{ min-height:210px;}















ul.product_availability_dinner li.product img{ min-height:210px;}







ul.product_availability_lunch li.product img{ min-height:210px;}







ul.product_availability_breakfast li.product img{ min-height:210px;}















.item li{ list-style:none;}